
body         {background-color: rgba(0, 55, 107, 1);
				}
#welcome-section{	
				
				width: 90%;
				height: 100vh;
				display: grid;
				grid-template-columns:150px 550px 1fr 150px;
				grid-template-rows: 100px 70% 1fr;
				/*grid-template-areas:
				"navbar    navbar       navbar         navbar"
				"left_side content_left content_right right_side"
				"left_side content_left content_right right_side";*/
				margin: 0 auto;
				
			}
a {text-decoration: none;}
#navbar 	{
				top:0px;
				width: 100%;
				position: fixed; 
				background-color: rgba(0, 55, 107, 1);
				/*	grid-area: navbar;*/
				grid-area:  1 / 1/1/5;
				z-index: 2;
				text-align: right;
				padding-top: 70px;

			}
header{
	width: 500px;float: right;margin-right: 168px;}

/*#navbar{padding-right: 65px;}*/
.navbar_link {
				/*background-color: white;*/
				font-size: 28px;
				
				padding-right: 40px;
				color:white;
				font-family: roboto mono;

			}

.navbar_link:hover{color: gray;}


#left_side 	{

				background-color: gray;
				/*grid-area: left_side;*/
				grid-area:  2 / 1/4/3;

			}
#content_left{

				background-color: rgba(0, 55, 107, 1);
				/*grid-area: content_left;*/
				grid-area:  2 / 2/4/3;
				background-color: gray;
				
				
			 }
#avatar{
				width: 60%;
				height:auto;
		

				
		}
#avatar img{
				width: 100%;
				height: auto;
				padding-top: 190px;
				padding-left:170px;

	}

h1 {
				font-family: 'Press Start 2P';
				 font-size: 40px;
 }

#content_right{

				background-color: rgba(0, 55, 107, 1);
				background-color: gray;

				/*grid-area: content_right;*/
				grid-area:  2 / 3/4/4;
				z-index: 1;
			
				 
			  }

#welcome{ 	
					margin: 0 auto;
					height: 25%;
					margin-top:170px;
					text-align: center;

				}

.hello           {
					text-align: center;
					font-size: 50px;
					
					line-height: 100px;
		}

#right_side{
				
				background-color: gray;
				/*grid-area: right_side;*/
				grid-row: 2/4;
				grid-column: 3/ 5;
				/*background-image:url("old.png");
				background-position:right;
			
				background-repeat: no-repeat;
*/
				}


/*                     second cointainer                  */
#container_2{	
			
				background: gray;
					background-color: rgba(0, 55, 107, 1);
				width: 90%;
				height: 100vh;
				display: grid;
				grid-template-columns: 100% ;
				grid-template-rows: 1fr 90% ;
				margin: 0 auto;
			}
#portfolio-title{
					grid-area:  1 / 1/2/2;
					background: gray;
					margin-top: 150px; 
					padding-bottom: 10px;}
#portfolio-title h1{
					margin: 0 auto;
					width: 60%;
					font-family: roboto mono;
					text-align: center;
					
					border-bottom: 1px  solid ;
					
				}

			
#projects{			
					padding-top: 10px;
					background-color:gray;
					grid-area:  2 / 1/3/2;
					display: flex;
					height: 100%;
					width: 100%;
					flex-wrap: wrap;
					justify-content:space-around;
					padding-bottom: 10px;


				}
/*boxs*/
.project-tile{
					width: 100%;height: 80%;
    				background-position: top;
    				background-size: cover; 
    				margin-bottom: 10px;

    				}
 
    					
.box_text{
					text-align: center;
					font-size:20px;
					line-height: 22px;
					color: white;
					background-color: rgba(0, 55, 107, 1);
					background-color: rgba(84, 93, 95, 1);
					font-family: roboto mono;

	}
.project-tile:hover{
 					box-shadow: inset 0 0 0 1000px rgba(84, 93, 95, .6);
 					/*height: 400px;
 
   transition: 1.5s;*/
  } 
  /*.box_text:hover{ 
  					box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);

  } */

 #box-1 {
    				/*background-color: green;*/
   					 width: 450px;
   					 height: 400px;				
  		}


#img_box1{background-image: url("polanski.png");}

  #box-2 {
    		/*background-color: orangered;*/
    		width: 450px;
    		height: 400px;
    
  }
#img_box2{background-image: url("survay.png");}



  #box-3 {
    /*background-color: violet;*/
     width: 450px;
    height: 400px;
  }
#img_box3{background-image: url("landing.jpg");}

  #box-4 {
   /* background-color: yellow;*/
    width: 450px;
    height: 400px;
  }
#img_box4{background-image: url("technical.png");}

  #box-5 {
    /*background-color: green;*/
   width: 450px;
    height: 400px;
  }
#img_box5{background-image: url("first.png");}
/*#img_box5:hover{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    

    width: 400px;
    height: 400px;
   transition: 1s;
}*/

  #box-6 {
    /*background-color: black;*/
   width: 450px;
    height: 400px;
}
#img_box6{background-image: url("to_do.png");}
						/*boxs*/

							


			 
#container_3{	
			
				background: red;
				background-color: rgba(0, 55, 107, 1);
				width: 90%;
				height: 30vh;
		
				margin: 0 auto;
				padding-top: 180px;
			}
#footer_link{margin-top:450px; 
				display: flex;
				width: 100%;
				height: 20vh;
				background: gray;
				margin: 0 auto;
				padding-top: 50px;

			}
.social-link{
				width: 128px;height: 128px;
				margin: 0 auto;
			}
.social-link:hover{
				background-color: rgba(84, 93, 95, 1);
				border-radius: 10%;
}

.social_img{
				width: 100%;height: auto;
}