
body         {background-color: rgba(0, 55, 107, 1);
				}
#welcome-section{	
				
				width: 90%;
				height: 100vh;
				display: grid;
				grid-template-columns:150px 550px 1fr 150px;
				grid-template-rows: 100px 70% 1fr;
				/*grid-template-areas:
				"navbar    navbar       navbar         navbar"
				"left_side content_left content_right right_side"
				"left_side content_left content_right right_side";*/
				margin: 0 auto;
				
			}

#navbar 	{
				top:0px;
				width: 100%;
				position: fixed; 
				background-color: rgba(0, 55, 107, 1);
				/*	grid-area: navbar;*/
				grid-area:  1 / 1/1/5;
				z-index: 2;
				text-align: right;
				padding-top: 70px;

			}
header{
	width: 500px;float: right;margin-right: 168px;}

/*#navbar{padding-right: 65px;}*/
.navbar_link {
				/*background-color: white;*/
				font-size: 28px;
				text-decoration: none;
				padding-right: 40px;
				color:white;
				font-family: roboto mono;

			}

.navbar_link:hover{color: brown;}


#left_side 	{

				background-color: gray;
				/*grid-area: left_side;*/
				grid-area:  2 / 1/4/3;

			}
#content_left{

				background-color: rgba(0, 55, 107, 1);
				/*grid-area: content_left;*/
				grid-area:  2 / 2/4/3;
				background-color: gray;
				
				
			 }
#avatar{
				width: 80%;
				height:100%;

				
		}
img{
				width: 100%;
				height: auto;
				padding-top: 100px;
				padding-left: 50px;

	}

h1 {
				font-family: 'Press Start 2P';
				 font-size: 40px;
 }

#content_right{

				background-color: rgba(0, 55, 107, 1);
				background-color: gray;

				/*grid-area: content_right;*/
				grid-area:  2 / 3/4/4;
				z-index: 1;
			
				 
			  }

#welcome{ 	/*background: green; */
					margin: 0 auto;
					height: 70%;
					margin-top:150px;

				}

.hello           {
					text-align: center;
					font-size: 50px;
					padding-top: 150px;
					line-height: 90px;
					font-style: 
}

#right_side{
				
				background-color: gray;
				/*grid-area: right_side;*/
				grid-row: 2/4;
				grid-column: 3/ 5;
				

				}


/*                     second cointainer                  */
#container_2{	
			
				
				width: 90%;
				height: 100vh;
				display: grid;
				grid-template-columns:150px 1fr 150px;
				grid-template-rows:  90% 1fr;
				margin: 0 auto;
			}


#left_side2 	{

				background-color: rgba(0, 55, 107, 1)
				
				grid-area:  1 / 1/2/2;
				
			}
#projects{			
					padding-top: 10px;
					background-color:gray;
					grid-area:  1 / 2/2/3;
					display: flex;
					height: 100%;
					width: 100%;
					flex-wrap: wrap;
					justify-content:space-around;
					padding-bottom: 10px;


				}

.project-tile{
					width: 100%;height: 80%;
    				background-position: top;
    				background-size: cover; }

 #box-1 {
    				background-color: green;
   					 width: 400px;
   					 height: 400px;				
  		}

#img_box1{background-image: url("polanski.png");}

  #box-2 {
    		background-color: orangered;
    		width: 400px;
    		height: 400px;
    
  }
#img_box2{background-image: url("polanski.png");}



  #box-3 {
    background-color: violet;
     width: 400px;
    height: 400px;
  }
  #box-4 {
    background-color: yellow;
    width: 400px;
    height: 400px;

  }
  #box-5 {
    background-color: green;
   width: 400px;
    height: 400px;
  }
  #box-6 {
    background-color: black;
  width: 400px;
    height: 400px;
}

#right_side2{

			background-color: rgba(0, 55, 107, 1)
				
				grid-area:  1 / 3/2/4;
				
			 }

#footer_link{
				background-color: rgba(0, 55, 107, 1);
				grid-area:  2 / 1/3/4;

			}